.header {
    padding: 16px;
    text-align: center;;
}

#content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  flex-wrap: wrap;
}

.icon-container {
  height: 300px;
  width: 300px;
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon {
  height: 80px;
  width: 80px;
  margin-bottom: 16px;
}
